language: go
go:
- 1.6
branches:
  only:
  - master
install:
- cd $HOME
- curl -O https://storage.googleapis.com/appengine-sdks/featured/go_appengine_sdk_linux_amd64-1.9.35.zip
- unzip -q go_appengine_sdk_linux_amd64-1.9.35.zip
- export PATH=$PATH:$HOME/go_appengine/
- cd $HOME/gopath/src/github.com/rctl/rasmusj.se
script:
- openssl aes-256-cbc -K $encrypted_c0dd1b006b1a_key -iv $encrypted_c0dd1b006b1a_iv -in settings_prod.json.enc -out settings_prod.json -d
- git log --pretty=format:'%h' -n 1 > ./version.txt
- ./build.sh
env:
  global:
  - secure: U101DvEatRxYFvGxs3sMT4fIwUmLFXdRy4n4Qdi0j13btQ1J/MtvMF4Zbxn/TBpwWyVVpGqcUmLh5Gku3dtt8r3Nv1j2Ivw7A+14drjvNlsYyjCiWQcaNUME9b6i1cbpGeyV6BpHTQ6IuMZLmh6FXLqX8VoFZx5UDTHJTMyCd6lOLk1x9FD/N3wQzLngdCIXY7U1wMp5bi+wBOOSBD88Y3bHetXWMdVIRkTjBFEnTd4+Jl45L+f0bryqTtJ8g3HtqTrzfz1HUGpQAw0Gdcwb3xYr+pwgZCH5AuFegv0APMWh1TOTWLj519kFSmvl1F+eq13tkvJgDdKOEJ+XTOtUKzc7y6J1jgtptrb1sslOPLtydBsbREa4OWeDe42Ce13sqKFPjgwTsaR/PlTsxkKzoEi4Z/2jMVGbNdj1GLPid0U7GfmY4uZpgFltgp80fNNlpQzUtaDIRDqRRjc+Sr7/kl2RWC/jUBDA0z4No4PYS39hJV9SREWreQYiuOLpbt85anj5WEVr8+CbTw17gZlMtIXczt7AX4CkO2iQBUCGQDL1B8gmOWWwhg+0b98tVOv/UeVtceTh263dmV3Lc/bC2wtmO0QfyzGG9z7B24BhUIyWQ+JGxp5hLfBlNkAGJpDeRUi1AIuE1sGesrm8sR5F/JoarZuC7NErKAB1yFpWlIY=
  - secure: Pm4AKH+FCLSv/7lZPLu5CzniGLx/bQEHs31rWzAk3RAV7dG0131/jYGv+uJRE32e/2NsosLZQENDRhWbTGk0fjvUw4KXlpzISQEueUwXH9dR87gwkWWvL31cgl4b5+3Kp8NkVY/wOWhMRmYdsZP2lr+23Nw4HWo65tD7zBnkFzQkjxZS3P/dRF9vWUS3zSWmZq/VIZ8j1j0WIH26YMigewk2Oa2c8pQQrXD7a+6ZYZwKzyCQ3biEtrbrIcCRxt8i9ISxzEf086Ru7RVyAM6Hlq2Srw81Z+1fqDYQObyPH3UN+mvg26Bs5lDzAzvKXzUs9XcD2k1fk49s37GimHetJaRaDKW6xGJpJ3NZtgHpdmlN1oA42F7x0yeQ68jvRIIZMD5GGjz1gNCJhVmJj5rbHgW6ZwcuamAwf/63ROlN7kIEboGV5npk2DPUa4PmWUNCvEYxJw5OPm+Z/QCsqhOO+2FTl96t/upRqk20oozeRvZs86KgJufbfhmfJd/BGph0hMo2jcMEuQ86Jx06mcdvptqNrmzVPBvxhaFgzNXV8pqylXYinNewDp5jX9dGJGSYjoMEKsC0TU5e9WkMcnlBBBa01pusFJsL6Jo4FbX5YrVEK3mWSFvHvvR8yDDonzMrA4GimGxJiKBhIHVkxciNUHkuz6kdEL5bZASpvc50Dyo=
