.bold{
    font-weight: bold;
}
.console{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    font-family: Consolas,monaco,monospace; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 60px;
    max-width: 600px;
    background-color: #300a24;
    color: #fff;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    min-height: 210px;
}

h5 {
    font-weight: 300;
}

p {
    font-weight: 300;
}

i {
    font-weight: 300;
}

.r-title{

}

.r-small{
    font-size: 0.6em;
}

.console-top{
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 600px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color:   #778388;
    color: #f1f3f3;
    padding-left: 10px;
    padding-top: 1px;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 0px;
}
.console-top > img{
    margin-left: 10px;
}
#about{
    display: none;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes type{ 
  from { width: 0; } 
} 
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes blink{
  to{opacity: .0;}
}
::selection{
  background: black;
}
.profile-picture > img:hover{
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
}
.profile-picture > img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}
@media screen and (min-width: 500px) {
    .profile-picture > img{
        max-width: 350px;
        margin-top: 30px;
    }
    header{
        padding:20px;
    }
}
@media screen and (max-width: 800px) {
    .console{
        padding-left: 2%;
        padding-right: 2%;
    }
    .profile-picture{
        padding-left:60px;
        padding-right:60px;
        padding-top:10px;
    }
    h2{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 400px) {
    h2{
        font-size: 1.7em;
    }
    h4{
        font-size: 1.3em;
    }
}
.email{
    text-decoration: none;
}
header > a {
    color: gray;
    text-decoration: none;
    margin-right: 10px;       
}
.quote.quote {
    border-left: none;
    padding-left: 0px;
}
@media screen and (min-width: 500px) {
    .quote {
        border-left: none;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        font-size: 1.3em;
        quotes: "\201C""\201D""\2018""\2019";
    }
    .quote:before {
        color: #9e9e9e;
        content: open-quote;
        font-size: 3em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }
    .quote:after {
        color: #9e9e9e;
        content: close-quote;
        font-size: 3em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }
}

.r-social a{
    color: #778388;
    margin: 0.5em;
    font-size: 1em;
}

.r-email a{
    font-size: 1.3em;
    font-weight: 300;
}

.r-pad{
    padding: 10px 20px 10px 20px;
}